.edit_card.outer_container {
    max-width: 50rem;
    margin: 5rem auto;
    position: relative;
}

.edit_card.card_container {
    margin-top: 3.5rem;
    padding: 2rem 5rem 3rem 3rem;
}

.back_arrow.outer_container {
    position: absolute;
    padding: 0.7rem;
    padding-bottom: 0.3rem;
    border-radius: 0.4rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -0.9rem;
    top: -0.02rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.back_arrow svg {
    width: 1.4rem;
    height: 1.4rem;
}

.back_arrow path {
    fill: white;
}

.edit_card.heading {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.card_container.edit_card {
    border-top-left-radius: 0;
}

.edit_card.subsection {
    margin-top: 3rem;
}

.name input {
    margin-left: 0.7rem;
    width: 74%;
}

.name h3, .upload_image h3 {
    display: inline-block;
}

.name.subsection {
    margin-bottom: 2rem;
}

.edit_card.upload_image {
    position: relative;
}

.edit_card.upload_image label span {
    display: inline-block;
    width: 7rem;
    margin-right: 0.5rem;
}

.edit_card.upload_image input {
    width: 55%;
}

.edit_card.photo_credit {
    margin-top: 0.5rem;
}

.edit_card.upload_image .error_message {
    position: absolute;
    top: unset;
    right: unset;
    left: 0;
    bottom: -2rem;
}

.edit_card .card_content.subsection.image_thumbnail {
    margin-top: 1.7rem;
    text-align: center;
}

.edit_card .card_content.subsection.image_thumbnail img {
    width: 70%;
}

.edit_card .button.danger.delete_card, .edit_card .button.danger.delete_image {
    display: inline-block;
    width: unset;
    font-size: 1rem;
    padding: 0.6rem 0.9rem;
    margin-left: 1rem;
}

.edit_card.upload_image {
    width: 100%;
    margin-top: 1rem;
    margin-left: 5rem;
}

.edit_card.subheading ~ ul {
    margin-top: 1rem;
}

.edit_card.sub_subheading {
    font-size: 1.1rem;
    display: inline-block;
    color: var(--text-blue);
    margin-right: 0.4rem;
    margin-bottom: 1rem;
    width: 5rem;
    text-align: right;
}

.edit_card.sub_subheading ~ input {
    display: inline-block;
    width: 73%;
}

.sub_subheading_container {
    margin-top: 0;
}

.edit_card.subsection.button_container {
    text-align: center;
    position: relative;
}

.edit_card.button {
    color: white;
    width: 50%;
    border-radius: 2rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.edit_card li {
    margin-bottom: 0.1rem;
}

.input_field_container {
    display: flex;
}

.input_field_container .button {
    display: inline-block;
    padding: 0 0 0.1rem 0;
    font-size: 2rem;
    border-radius: 50%;
    text-align: center;
    margin-left: 0.4rem;
    margin-top: 0.8rem;
    align-self: center;
    font-weight: bold;
    line-height: 1.7rem;
    width: 1.9rem;
}

.edit_card.delete_field.button {
    padding-bottom: 0.2rem;
}

.input_field_container input {
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 0.5rem;
}

.slider_container {
    position: relative;
    display: inline-block;
    width: 4.5rem;
    height: 2.1rem;
    align-self: center;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
}

.slider_container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.2s;
    border-radius: 2rem;
    background-color: var(--main-purple);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.toggle_slider:hover, .toggle_slider:active {
    background-color: var(--light-purple);
}

.toggle_slider span {
    color: white;
    position: absolute;
    top: 0.4rem;
    left: 0.7rem;
    font-weight: bold;
}

.toggle_slider .no {
    left: 2.2rem
}

.toggle_slider:before {
    position: absolute;
    content: "";
    height: 1.7rem;
    width: 1.6rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: white;
    transition: .2s;
    border-radius: 50%;
}

input:checked + .toggle_slider {
    background-color: var(--button-blue);
}

input:checked + .toggle_slider:hover {
    background-color: var(--button-blue-hover);
}

input:checked + .toggle_slider:before {
    transform: translateX(2.5rem);
}

.edit_card.subsection ol li {
    margin-left: 5.2rem;
    line-height: 1.4rem;
}

.edit_card .error_message {
    bottom: unset;
    left: 13.2rem;
    top: -2.2rem;
}

.edit_card .error_message.long_error {
    left: 8rem;
}

@media (max-width: 850px) {
    .edit_card.subsection.upload_image {
        margin-left: 2rem;
    }

    .edit_card.upload_image input {
        width: 62%;
    }

    .back_arrow.outer_container {
        border-bottom-left-radius: 0;
        left: 2rem;
        top: -0.02rem;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .edit_card .button.danger.delete_image {
        display: block;
        margin: 1rem auto 1rem auto;
    }

    .card_container.edit_card {
        border-top-left-radius: 0.5rem;
    }
}

@media (max-width: 810px) {
    .edit_card.upload_image input {
        width: 59%;
    }

    .edit_card .card_content.subsection.image_thumbnail img {
        width: 90%;
    }
}

@media (max-width: 670px) {

    .edit_card.subsection.upload_image {
        margin-left: 2rem;
        margin-top: 3rem;
    }

    .edit_card.upload_image label span {
        display: block;
        margin-bottom: 0.4rem;
        margin-top: 0.6rem;
    }

    .edit_card.upload_image input {
        width: 83%;
    }

    .button_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .edit_card.subsection ol li {
        margin-left: 1.3rem;
    }
}

@media (max-width: 570px) {
    .edit_card.upload_image label span {
        display: block;
        margin: 0.6rem 0 0.4rem 1.8rem;
        width: unset;
        text-align: left;
    }

    .edit_card.upload_image input {
        width: 88%;
    }

    .edit_card.card_container {
        padding: 1.5rem;
    }

    .edit_card.subsection.upload_image {
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .edit_card.button.danger.delete_image {
        margin-left: auto;
        margin-right: auto;
    }

    .input_field_container.clues {
        margin-right: 0;
    }

    .input_field_container.question_answers {
        margin-bottom: 3rem;
        position: relative;
    }

    .input_field_container.question_answers .slider_container {
        position: absolute;
        top: 2.8rem;
        left: -0.5rem;
    }

    .edit_card [tooltip]:after {
        left: unset;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .input_field_container {
        margin-right: 1.6rem;
    }

    .edit_card.subsection.meta {
        margin-top: 5rem;
    }

    .edit_card.subsection h3 {
        text-align: center;
        font-size: 2rem;
    }

    .edit_card.subsection.name h3 {
        display: none;
    }

    .edit_card.subsection.name {
        margin: 0 2rem 0 0.5rem;
    }

    .edit_card.subsection.name input {
        width: 100%;
    }

    .edit_card.subsection.button_container {
        margin-bottom: 2rem;
    }
}

@media (max-width: 440px) {
    .edit_card.upload_image label span {
        margin-left: 1.2rem;
    }

    .edit_card.subsection.meta {
        margin-right: 1.8rem;
        margin-left: 1.8rem;
    }

    .edit_card.subsection.meta h3 {
        margin-bottom: 2rem;
    }

    .edit_card.sub_subheading_container label {
        display: block;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        margin: 1rem auto 0.5rem auto;
    }

    .edit_card.sub_subheading_container input {
        width: 100%;
    }
}