.loading_text.outer_container {
    width: 100%;
    text-align: center;
    margin-top: 8rem;
    color: var(--text-blue);
    font-size: 3rem;
    background-color: var(--white-blue);
}

.loading_text.outer_container .loading_text {
    margin-left: 1.5rem;
}

.loading_text.outer_container svg {
}

.top_bar_container {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--main-blue);
}

.top_bar_left {
    display: flex;
    flex-direction: row;
}

.nav_item {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.nav_link {
    padding: 0.5rem 1rem;
    color: var(--white-blue);
    transition: all ease-in-out 0.2s;
}

.nav_link:hover {
    transition: all ease-in-out 0.1s;
    outline: 1px dashed var(--night-blue);
}

.nav_link:focus, .button.logout:focus {
    outline: 1px dashed;
}

.active_nav, .active_nav:hover, .active_nav:focus, .active_nav:active {
    background-color: var(--light-blue);
    color: var(--text-blue);
    outline: none;
}

.button.logout {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.1rem;
}
