@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Kalam:wght@400;700&display=swap");

:root {
    --text-purple: rgb(80, 3, 137);
    --text-purple-light: rgb(131, 9, 221);
    --light-purple-background: rgb(249, 242, 255);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background: white;
    color: #333;
}

ul {
    list-style: none;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
}

/* Header - Logo */
.logo {
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 2.2rem;
    margin-left: 2rem;
}

.logo .intelli {
    color: var(--text-purple);
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
}

.logo .geo {
    background-color: #239C2F;
    color: #fff;
    border: 0.2rem solid #239C2F;
    padding: 0.7rem .2rem;
    border-radius: 4rem;
}

/* Header - navbar*/
.hamburger-button-container {
    display: none;
}

#nav-menu-button {
    position: absolute;
    top: 1.3rem;
    right: 0;
}

#nav-close-icon {
    position: absolute;
    top: 8.6rem;
    right: 5rem;
    z-index: 2;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav-menu-container {
    display: inline-block;
}

.nav-menu {
    margin-bottom: 0.5rem;
}

.nav-menu li {
    display: inline-block;
    margin-right: 3rem;
}

.nav-menu a {
    font-size: 1.4rem;
    color: #500389;
    transition: all 0.2s ease-in-out;
    border-bottom: white .2rem solid;
}

.nav-menu a:hover {
    border-bottom: #500389 .2rem solid;
    transition: border-bottom 0.2s ease-in-out;
}

.content {
    align-items: center;
    margin-top: 22rem;
    width: 100%;
}

.main-content {
    display: block;
    text-align: center;
}

.main-content h1 {
    color: var(--text-purple);
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
}

.main-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5707A3;
    margin-top: 1rem;
}

#nav-close-icon {
    transform: translateY(-0.7rem);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20rem;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.content h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
    color: #500389;
}

.content p {
    margin-top: 1rem;
    font-size: 1.6rem;
}

.content a {
    margin-top: 3rem;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;
}

.img img {
    width: 105%;
    margin-top: 0;
    transform: translateX(-3%);
}

/*!* Button *!*/
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 1.4rem 5rem;
    color: #fff;
    border: none;
    background-color: #F28A2B;
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 1px 1px 3px 1px rgba(10, 10, 10, 0.3);
}

.btn:hover {
    background-color: #ff993f;
}

.page-2 {
    background-color: #FEFCEF;
    position: relative;
    margin-top: -3rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
    overflow: hidden;
}

.page2-content {
    position: relative;
    z-index: 1;
}

.blob1 img {
    position: absolute;
    right: -10%;
    top: -10%;
    z-index: 0;
}

.blob1 img, .blob2 img {
    width: 45rem;
    height: 45rem;
}

.blob2 img {
    position: absolute;
    left: -10%;
    bottom: -28%;
    z-index: 0;
}

.page2-content {
    display: flex;
    justify-content: space-around;
}

.page2-text, .page2-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page2-text, .page2-image {
    max-width: 50rem;
}

.page2-text {
    margin: 0 2rem 4rem 3rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.page2-image {
    margin: 2rem 3rem 0 2rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.page2-text h2 {
    font-size: 3.1rem;
    font-weight: 500;
    color: #500389;
    line-height: 1.1;
}

.page2-text p {
    margin-top: 2rem;
    font-size: 1.6rem;
    color: rgba(87, 7, 163, 0.75);
}

.page2-text .fun,
.page2-text .exciting {
    font-weight: 400;
    font-size: 4.5rem;
    color: #11bb39;
    font-family: "kalam", cursive;
}

.page2-image img {
    max-width: 100%;
}

.main-container {
}

.footer-container {
    background: #500389;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.footer-container a, .footer-container .logo .intelli {
    color: #fff;
}

.footer-container .logo {
    margin: 1.5rem 0 0 0;
    font-size: 1.7rem;
}

.logo-copyright-container, .social-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-container .copyright {
    margin-top: 1.4rem;
    font-size: 0.8rem;
}

.social {
    display: inline-block;
    margin: 0 0.4rem;
}

.social-container a {
    transition: color 0.2s ease-in-out;
}

.social-container .fb a:hover {
    color: #5883dc;
}

.social-container .twitter a:hover {
    color: #00a2f5;
}

.social-container .youtube a:hover {
    color: #f91f1f;
}

.social-container .linkedin a:hover {
    color: #0181c4;
}

.footer-container ul {
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    row-gap: .8rem;
    margin-top: 1rem;
}

.footer-container ul a {
    border-bottom: #500389 .2rem solid;
    transition: border-bottom 0.2s ease-in-out;
}

.footer-container ul a:hover {
    border-bottom: #fff .2rem solid;
    transition: border-bottom 0.2s ease-in-out;
}

.slide_out {
    animation: forwards ease-in-out 0.2s slide_to_right;
}

.slide_in {
    animation: forwards ease-in-out 0.2s slide_from_right;
}

.hide_me {
    display: none;
}

.show_me {
    display: inline-block;
}

@keyframes slide_from_right {
    0% {
        transform: translateX(10rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide_to_right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10rem);
    }
}

@media (max-width: 1920px) {
    .img img {
        transform: translateY(-1rem);
    }
}

@media (max-width: 1620px) {

    .blob1 img, .blob2 img {
        width: 34rem;
        height: 34rem;
    }

    .page2-text .fun,
    .page2-text .exciting {
        font-size: 4rem;
    }
}

@media (max-width: 1440px) {
    .header .logo {
        font-size: 1.8rem;
    }

    .nav-menu a {
        font-size: 1.1rem;
    }

    .content {
        margin-top: 11rem;
    }

    .content h1 {
        font-size: 3.4rem;
    }

    .content p {
        font-size: 1.2rem;
    }

    .content a {
        transform: translateY(0);
    }

    .img img {
        margin-top: 1rem;
    }

    .page2-text {
        margin-left: 5rem;
    }

    .page2-text h2 {
        font-size: 2rem;
    }

    .page2-text p {
        font-size: 1.1rem;
        line-height: 1.4;
        margin-top: 1rem;
    }

    .page2-text, .page2-image {
        max-width: 38rem;
    }

    .content a {
        font-size: 1.3rem;
    }

    .btn {
        margin-bottom: 2rem;
    }

    .blob1 img, .blob2 img {
        width: 28rem;
        height: 28rem;
    }

    .page2-text .fun,
    .page2-text .exciting {
        font-size: 3.5rem;
    }

    .footer-container .logo {
        font-size: 2rem;
    }
}

@media (max-width: 1264px) {
    .header .logo {
        margin-left: 1rem;
    }

    body {
        overflow-x: hidden;
    }

    .nav-menu li {
        display: inline-block;
        margin-right: 2rem;
    }

    .page2-text .fun,
    .page2-text .exciting {
        font-size: 2.6rem;
    }

    .page2-image {
        transform: translateX(6rem);
    }

    .page2-image img {
        width: 70%;
    }
}

@media (max-width: 1164px) {
    .page2-content {
        flex-wrap: wrap;
        margin: 4rem 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .blob2 img {
        height: 45rem;
        width: 30rem;
    }
}

@media (max-width: 1000px) {
    .img img {
        width: 150%;
        transform: translateX(-15rem);
    }
}

@media (max-width: 760px) {

    body {
        overflow-x: hidden;
    }

    .body_container {
        overflow-x: hidden;
    }

    .img img {
        width: 250%;
        transform: translateX(-25rem);
    }

    .main-content {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .header .logo {
        margin-left: 0.2rem;
    }

    .hamburger-button-container {
        display: block;
        font-size: 2rem;
        margin: 0 0.8rem 0.5rem 0;
        color: var(--text-purple);
        transition: all ease-in-out 0.2s;
    }

    #nav-close-icon:hover, #nav-hamburger-icon:hover {
        cursor: pointer;
        color: var(--text-purple-light);
    }

    .header {
        position: relative;
    }

    #navbar {
        position: absolute;
        top: 0;
        right: 0;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        border-left: 0.01px solid var(--text-purple);
        border-bottom-left-radius: 0.2rem;
    }

    .nav-menu li {
        background: var(--light-purple-background);
        border-bottom: 0.01px solid var(--text-purple);
        margin: 0;
        transition: all ease-in-out 0.2s;
    }

    .nav-menu li a {
        display: inline-block;
        margin: 1rem 1rem;
        border-bottom: none;
    }

    .nav-menu li:hover {
        cursor: pointer;
        background-color: var(--text-purple-light);
        color: white;
    }

    .nav-menu li:hover a {
        cursor: pointer;
        color: white;
    }

    .nav-menu a:hover {
        color: #fff;
        border-bottom: none;
    }

    .header .logo {
        font-size: 1.8rem;
    }

    .nav-menu a {
        font-size: 1.1rem;
    }

    .content {
        margin-top: 8rem;
    }

    .content h1 {
        font-size: 2.8rem;
    }

    .content p {
        font-size: 1rem;
    }

    .page2-text {
        margin: unset;
    }

    .page2-text h2 {
        font-size: 1.8rem;
    }

    .page2-text p {
        font-size: 1.1rem;
    }

    .page2-text, .page2-image {
        max-width: 32rem;
    }

    .content a {
        font-size: 1.3rem;
    }

    .btn {
        padding: 1.2rem 2rem;
    }

    .page2-image {
        margin-top: 6rem;
    }

    .page-2 {
        padding: 6rem 2rem 0 2rem;
    }

    .page2-image {
        width: 100%;
        margin: 5rem 0 0 0;
    }

    .page2-image img {
        width: 100%;
        transform: translateX(-6em);
    }

    .blob1 img, .blob2 img {
        width: 20rem;
        height: 20rem;
    }

    .blob2 img {
        bottom: -10rem;
    }

    .footer-container ul {
        font-size: 1rem;
    }

    .footer-container .logo {
        font-size: 1.2rem;
    }

    .footer-container .logo .geo {
        padding: 0.4rem 0.1rem;
    }

    .social-container div a {
        font-size: 0.7rem;
    }
}

@media (max-width: 600px) {
    .main-content p {
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto;
    }

    .social-container {
        margin-top: 0.5rem;
        display: grid;
        grid-template-columns: repeat(2, 2rem);
        grid-template-rows: auto;
        gap: 0.5rem 0.5rem;
    }

    .social-container div a {
        font-size: 0.5rem;
    }

    .footer-container {
        padding: 1rem 0.5rem;
    }

    .footer-container .logo {
        font-size: 1rem;
    }

    .footer-container .copyright {
        margin-top: 1rem;
        font-size: 0.5rem;
    }

    .footer-container ul {
        font-size: 0.7rem;
    }
}
