@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Kalam:wght@400;700&display=swap");

:root {
    --text-purple: rgb(80, 3, 137);
    --text-purple-light: rgb(131, 9, 221);
    --light-purple-background: rgb(249, 242, 255);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background: white;
    color: #333;
}

ul {
    list-style: none;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
}

/* Header - Logo */
.header .logo {
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    margin-left: 2rem;
}

.header .logo .intelli {
    color: var(--text-purple);
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
}

.header .logo .geo {
    background-color: #239C2F;
    color: #fff;
    border: 0.2rem solid #239C2F;
    padding: 1.4rem .6rem;
    border-radius: 100rem;
}

/* Header - navbar*/
.hamburger-button-container {
    display: none;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav-menu {
    margin-bottom: 0.5rem;
}

.nav-menu li {
    display: inline-block;
    margin-right: 3rem;
}

.nav-menu a {
    font-size: 1.4rem;
    color: #500389;
}

.nav-menu a:hover {
    border-bottom: #500389 .2rem solid;
}

.content {
    
    align-items: center;
    margin-top: 22rem;
    width: 100%;
}

.main-content {
    display: block;
    text-align: center;
}

.main-content h1 {
    color: var(--text-purple);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
}

.main-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5707A3;
    margin-top: 1rem;
}

#nav-close-icon {
    transform: translateY(-0.7rem);
}

.button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: .8rem 4rem;
    margin-top: 1.8rem;
    border-radius: 12px;
    background: linear-gradient(40.14deg, #F28A2B -32.24%, rgba(254, 150, 29, 0.79) 69.17%)
}

.button a {
    font-weight: 700;
    font-size: 1.4rem;
    color: #fff;
}

.landmarks-img img {
    width: 100%;
    margin-top: 4.5rem;
}

.flex-columns {
    overflow: hidden;
    position: relative;
    background: #FEFCEF;
}

.shapes {
    position: absolute;
    z-index: 1;
}

.img1 {
    
    margin-left: 60rem;
    margin-top: -12rem;
    height: 38rem;
    width: 43rem;
}

/*.flex-columns {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/

/*.flex-columns .shapes {*/
/*    position: static;*/
/*    float: left;*/
/*}*/

/*.flex-columns .img1 {*/
/*    position: absolute;*/
/*    display: block;*/
/*    right: 0;*/
/*    left: 110rem;*/
/*    top: -12rem;*/
/*    width: 43rem;*/
/*    height: 38rem;*/
/*    margin-left: 12rem;*/
/*    z-index: 2;*/
/*}*/

/*.flex-columns .img2 {*/
/*    position: absolute;*/
/*    display: block;*/
/*    left: -20rem;*/
/*    top: 50rem;*/
/*    width: 49rem;*/
/*    height: 43rem;*/

/*    z-index: 2;*/
/*}*/

/*.flex-columns .row {*/
/*    background-color: #FEFCEF;*/

/*}*/

/*.flex-columns .row {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: nowrap;*/
/*    justify-content: space-between;*/
/*    width: 100%;*/

/*}*/

/*.flex-columns .column-2 {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin-right: 17rem;*/
/*}*/

/*.flex-columns img {*/
/*    width: 130%;*/
/*    z-index: 10;*/
/*}*/

/*.flex-columns .column-1 {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin-top: 30rem;*/
/*    margin-left: 7rem;*/
/*    z-index: 8;*/

/*}*/

/*.flex-columns h2 {*/
/*    font-size: 3.1rem;*/
/*    font-weight: 500;*/
/*    color: #500389;*/
/*}*/

/*.flex-columns p {*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-size: 1.6rem;*/
/*    color: rgba(87, 7, 163, 0.75);*/
/*}*/

/*.flex-columns .fun,*/
/*.flex-columns .exciting {*/
/*    font-weight: 400;*/
/*    font-size: 4rem;*/
/*    color: #11bb39;*/
/*}*/

/*.button {*/
/*    text-align: center;*/
/*}*/

/*    text-align: center;*/

/*    color: rgba(87, 7, 163, 0.71);*/
/*    margin: 1.8rem 0 2.8rem;*/
/*}*/

/*.landmarks {*/
/*    width: 100%;*/
/*    position: static;*/
/*    padding-top: 4rem;*/
/*}*/

/*.main-container {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/

/*}*/

/*.footer {*/
/*    background: #500389;*/
/*    color: #fff;*/
/*    width: 100%;*/
/*    height: auto;*/

/*    position: static;*/
/*}*/

/*.footer a {*/
/*    color: #fff;*/
/*}*/

/*.footer .logo {*/
/*    font-weight: 500;*/
/*    margin-top: 2.4rem;*/

/*    font-family: "Montserrat", sans-serif;*/
/*    font-size: 2.2rem;*/
/*}*/

/*.footer .logo .intelli {*/
/*    color: #fff;*/
/*    padding: 0.2rem 0.2rem 0.2rem 0rem;*/
/*}*/

/*.footer .logo .geo {*/
/*    background-color: #239C2F;*/
/*    color: #fff;*/
/*    border: 0.2rem solid #239C2F;*/
/*    padding: 1.4rem .6rem;*/
/*    border-radius: 100rem;*/
/*}*/

/*.footer .copyright {*/
/*    margin-top: 2.5rem;*/
/*    font-size: 1rem;*/
/*}*/

/*.social {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding-bottom: .8rem;*/
/*    margin-right: 9rem;*/
/*}*/

/*.social a {*/
/*    margin-left: 1.5rem;*/
/*}*/

/*.social .fb a:hover {*/
/*    color: #177BF2;*/
/*}*/

/*.social .twitter a:hover {*/
/*    color: #1DA1F2;*/
/*}*/

/*.social .youtube a:hover {*/
/*    color: #ff0000;*/
/*}*/

/*.social .linkedin a:hover {*/
/*    color: #0a66c2;*/
/*}*/

/*.footer ul {*/
/*    display: flex;*/

/*    flex-direction: column;*/
/*    row-gap: .7rem;*/
/*    margin-top: 1.5rem;*/
/*}*/
@media (max-width: 1528px) {
    .content {
        margin-top: 20rem;
    }

    .landmarks-img {
        margin-top: 5rem;
    }

    .main-content h1 {
        font-size: 3.5rem;
    }

    .main-content p {
        font-size: 1.6rem;
        color: #5707A3;
        margin-top: 1rem;
    }

}

@media (max-width: 1264px) {
    .header .logo {
        margin-left: 1rem;
    }

    body {
        overflow-x: hidden;
    }

    .nav-menu li {
        display: inline-block;
        margin-right: 2rem;
    }

    .content {
        margin-top: 20rem;
    }

    .main-content {
        margin: 2rem;
    }

    .main-content h1 {
        font-size: 3rem;
    }

    .main-content p {
        font-size: 1.4rem;
        color: #5707A3;
        margin-top: 1rem;
    }

    .landmarks-img {
        overflow: hidden;
    }

    .landmarks-img img {
        width: 140%;
        height: 30rem;
        margin-top: 2.5rem;
        /* margin-left: -9rem; */
        transform: translateX(-9rem);

    }
}

@media (max-width: 760px) {
    .header .logo {
        margin-left: 0.2rem;
    }

    .hamburger-button-container {
        display: block;
        font-size: 2rem;
        margin: 0 0.8rem 0.5rem 0;
        color: var(--text-purple);
        transition: all ease-in-out 0.2s;
    }

    .hamburger-button-container:hover {
        cursor: pointer;
        color: var(--text-purple-light);
    }

    .nav-menu-container {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        border-left: 0.01px solid var(--text-purple);
        border-bottom-left-radius: 0.2rem;
    }

    .nav-menu li {
        background: var(--light-purple-background);
        border-bottom: 0.01px solid var(--text-purple);
        margin: 0;
        transition: all ease-in-out 0.2s;
    }

    .nav-menu li:hover {
        cursor: pointer;
        background-color: var(--text-purple-light);
        color: #fff;
    }

    .nav-menu li a {
        display: inline-block;
        margin: 1rem 1rem;
    }

    .nav-menu a:hover {
        border-bottom: none;
    }

    .nav-menu li:hover a {
        color: #fff;
    }



    .hide_me {
        display: none;
    }

    .show_me {
        display: inline-block;
    }
}
