.card_container.card_content {
    position: relative;
    color: var(--text-blue);
    width: 30rem;
    min-height: 44rem;
}

.single_card_page .card_container.card_content {
    width: 40rem;
}

.card_container.card_content:hover .hover_text {
    opacity: 1;
}

.card_content.heading {
    font-size: 2.5rem;
}

.card_content.no_photo_credit {
    color: #b30214;
}

.card_content.photo_credit_container a {
    font-style: italic;
    text-decoration: underline;
}

.card_subheading {
    margin-bottom: 0.5rem;
    font-weight: normal;
    font-size: 1.6rem;
}

.card_content.subsection ol li {
    margin-left: 1.5rem;
    line-height: 1.4rem;
}

.card_content.subsection ul li {
    list-style: disc;
    margin-left: 1.5rem;
    line-height: 1.4rem;
}

.card_content .hover_text {
    opacity: 0;
    right: 1rem;
    top: 1rem;
}

.card_content.subsection img {
    width: 100%;
}

.card_content.subsection.loading {
    height: 9rem;
    width: 16rem;
    background-color: rgba(1, 1, 1, 0.06);
    margin: 1rem auto;
}

.card_content.subsection.loading svg {
    margin-top: 2rem;
}

.card_content.subsection svg {
    width: 100%;
    margin: 1rem auto;
}

.card_content.subsection.button_container {
    width: 100%;
    text-align: center;
    display: flex;
    height: 6rem;
    justify-content: center;
}

.card_content.button {
    position: absolute;
    bottom: 2.5rem;
    color: white;
    padding: 1rem 2rem;
    background-color: var(--brand-orange);
    border-radius: 2rem;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
}

.card_content.button:hover {
    color: white;
    background-color: var(--brand-orange-light);
}

.card_content.button:active {
    background: radial-gradient(circle, var(--brand-orange-white), var(--brand-orange-light));
}

.card_content.button span {
    color: white;
}

.card_content.subsection.timestamp_container {
    position: absolute;
    bottom: 0.4rem;
    right: 0.6rem;
    font-size: 0.65rem;
    text-align: right;
}

.card_content.timestamp {
    color: var(--medium-blue-trans);
    font-style: italic;
}

.publish_message {
    position: absolute;
    bottom: 6.7rem;
    left: 10rem;
}

@media (max-width: 2245px) {
    .cards_list_container .card_container.card_content {
        width: 38rem;
    }
}

@media (max-width: 2089px) {
    .cards_list_container .card_container.card_content {
        width: 30rem;
    }
}

@media (max-width: 1702px) {

    .cards_list_container .card_container.card_content {
        width: 40rem;
    }
}

@media (max-width: 1602px) {

    .cards_list_container .card_container.card_content {
        width: 30rem;
    }
}

@media (max-width: 1158px) {
    .cards_list_container .card_container.card_content {
        width: 40rem;
    }
}

@media (max-width: 750px) {
    .cards_list_container .card_container.card_content {
        width: 30rem;
    }
}

@media (max-width: 600px) {
    .cards_list_container .card_container.card_content {
        width: 90vw;
    }
}

