.page_heading_section {
    margin: 5.5rem 0 1.5rem 0;
}

.page_heading_section .heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.page_sub_heading {
    color: var(--main-heading-blue);
    margin-top: 0.3rem;
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
}

@media (max-width: 670px) {
    .intelligeo_logo {
        margin: 0 auto;
    }
    .intelligeo_logo .heading2 {
        display: block;
        margin-top: 2rem;
    }
}
