.env
production.env
*.production.env
db/mongo-db-store/
logs
build
ssl
*.pem
nginx_server/ssl/
nginx_server/build/
delete_me
hello.py
hello.js
nginx_geo/sites/admin.geo.intellideep.digital
nginx_geo/sites/geo.intellideep.digital/game
nginx_geo/sites/geo.intellideep.digital/.idea/
