.card.section {
    margin: 0 1.7rem;
}

.card_container {
    max-width: 70rem;
    margin: 2rem auto;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.25);
    background: white;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 1.5rem 4rem 5rem 4rem;
}

.card_container .card_hero_image .hero_image_container {
    text-align: center;
    position: relative;
}

.card_container .card_hero_image .hero_image_container .hero_world_map {
    width: 100%;
}

.card_container .card_hero_image .hero_image_container .hero_person2 {
    width: 20%;
    position: absolute;
    top: 41%;
    right: -3%;
}

.card_container .card_hero_image .hero_image_container .hero_person1 {
    width: 20%;
    position: absolute;
    top: 29%;
    left: 38%;
}

.card_container .card_hero_image .hero_image_container .hero_person3 {
    position: absolute;
    width: 18%;
    bottom: 10%;
    left: 21%;
}

.card_heading {
    margin-top: 4rem;
    font-weight: 400;
}

.card.loading_screen_container {
    box-shadow: none;
    background: unset;
    margin: 0 auto;
    text-align: center;
}

.subsection {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.card_choices.subsection {
    margin-top: 5rem;
}

.q_ans.subsection {
    margin-top: 4rem;
}

.card_hero_image.subsection {
    margin-top: 1rem;
}

.view_hints_container.show_me {
    text-align: center;
}

.view_hints_outer_container.subsection {
    text-align: center;
    margin-top: 1rem;
}

.correct_wrong_icon img {
    display: block;
    width: 4rem;
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
}

.correct_wrong_icon span {
    display: block;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
    margin-left: 1rem;
    font-size: 2.6rem;
    font-weight: 600;
}

.correct_icon_container, .wrong_icon_container {
    display: flex;
}

.correct_icon_container span {
    color: var(--main-green);
}

.wrong_icon_container span {
    color: var(--main-red2);
}

