@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap");
.card_container .card_hero_image .hero_image_container {
    text-align: center;
    position: relative;
}

.card_container .card_hero_image .hero_image_container .hero_world_map {
    width: 90%;
    margin-top: 1.5rem;
}

.card_container .card_hero_image .hero_image_container .hero_person2 {
    width: 20%;
    position: absolute;
    top: 41%;
    right: 2%;
}

.card_container .card_hero_image .hero_image_container .hero_person1 {
    width: 20%;
    position: absolute;
    top: 27%;
    left: 40%;
}

.card_container .card_hero_image .hero_image_container .hero_person3 {
    position: absolute;
    width: 18%;
    bottom: 10%;
    left: 21%;
}

.ans_image_container img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    margin-bottom: 3rem;
}

.ans_below_image {
    font-family: "Kalam", cursive;
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 300;
    position: absolute;
    right: 1rem;
    bottom: 4.5rem;
    transform: rotate(-20deg);
    background: rgba(254, 249, 222, 1);
    padding: 1.6rem 1rem 0.2rem 1rem;
    line-height: 4.2rem;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.3);
    color: var(--main-green)
}

.photo_credit_container a {
    font-style: italic;
    text-decoration: underline;
}

.photo_credit_container {
    font-size: 1rem;
    position: absolute;
    right: 0.5rem;
    bottom: 1.5rem;
}

@media (max-width: 1020px) {
    .ans_below_image {
        font-size: 6rem;
    }
}

@media (max-width: 900px) {
    .ans_below_image {
        font-size: 5rem;
        padding: 1rem 0.5rem 0 0.5rem;
        line-height: 3.5rem;
    }
}

@media (max-width: 800px) {
    .ans_below_image {
        font-size: 4rem;
    }
}

@media (max-width: 700px) {
    .ans_below_image {
        padding: 0.8rem 0.2rem 0 0.2rem;
        line-height: 2.8rem;
    }
}

@media (max-width: 600px) {
    .ans_below_image {
        font-size: 4rem;
        padding: 0.7rem 0.2rem 0 0.2rem;
        line-height: 2.6rem;
    }
}

@media (max-width: 540px) {
    .ans_below_image {
        left: -0.8rem;
        right: unset;
        bottom: 2rem;
        font-size: 3rem;
        padding: 0.7rem 0.2rem 0 0.2rem;
        line-height: 2rem;
    }
}

@media (max-width: 440px) {
    .ans_below_image {
        bottom: 2.5rem;
    }
}
