.card_container_container {
    position: relative;
    margin-top: 7.8rem;
}

.button.back_button {
    position: fixed;
    z-index: 5;
    left: 0.3rem;
    top: 1rem;
    font-size: 1.4rem;
    padding: 0.6rem 0.8rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 3px 2px rgba(10, 10, 10, 0.3);
}

.button.help_button {
    position: fixed;
    z-index: 5;
    left: 7.6rem;
    top: 1rem;
    font-size: 1.9rem;
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 3px 2px rgba(10, 10, 10, 0.3);
}

.help_subsection {
    background: white;
    position: fixed;
    z-index: 5;
    max-width: 30rem;
    top: 0.3rem;
    left: 11rem;
    padding: 1rem 1rem 1rem 1.3rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px 3px rgba(10, 10, 10, 0.3);
}

.progress.subsection {
    text-align: center;
}

.progress_bar_text {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
}

.card.outer_container {
    text-align: center;
    position: relative;
}

.card.section {
    margin: 0 1.7rem;
}

.card_container {
    max-width: 70rem;
    margin: 2rem auto;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.25);
    background: white;
    border-radius: 1rem;
    font-size: 1.4rem;
}

.card_heading {
    margin-top: 4rem;
    font-weight: 400;
}

.card.loading_screen_container {
    box-shadow: none;
    background: unset;
    margin: 0 auto;
    text-align: center;
}

.subsection {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.card_choices.subsection {
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.q_ans.subsection {
    margin-top: 0;
}

.card_hero_image.subsection {
    margin-top: 1rem;
}

.card_score_container {
    position: relative;
}

.card_score_text.total_score {
    top: -1rem;
    z-index: 1;
    font-size: 1.2rem;
    right: 1rem
}

.card_score_text {
    color: var(--main-green);
    font-style: italic;
    font-weight: 600;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1rem;
    transform: translateY(-0.4rem);
}

.card_score_penalty {
    color: var(--main-red2);
    transform: translateY(-0.4rem);
    opacity: 0;
}

.fly_up {
    animation: fly_up forwards 1s;
}

@keyframes fly_up {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(-0.4rem);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-7.4rem);
    }
}

.view_hints_container.show_me {
    text-align: center;
}

.view_hints_outer_container.subsection {
    text-align: center;
    margin-top: 1rem;
}

.button_next.subsection {
    position: relative;
}

.button.button_next {
    position: fixed;
    right: 0.2rem;
    top: 0.1rem;
    font-size: 2.5rem;
    z-index: 5;
    padding: 0.9rem 1.2rem 0.9rem 1.3rem;
    border-radius: 4rem;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    animation: forwards left_right 4s infinite ease-in-out;
}

.button.button_next span {
    color: white;
}

.button.button_quit {
    padding: 1rem 1.2rem 1rem 1.3rem;
    border-radius: 4rem;
    margin-bottom: 1rem;
    transform: translateY(-2rem);
}

.quit_button_container {
    text-align: center;
}

@keyframes left_right {
    0% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(0);
    }
    95% {
        transform: translateX(-1rem);
    }
    100% {
        transform: translateX(0);
    }
}


.slide_down {
    animation: slideDown 0.3s forwards cubic-bezier(0.2, 1, 0.3, 1);
}

.slide_up {
    animation: slideUp 0.3s forwards cubic-bezier(0.2, 1, 0.3, 1);
}

@keyframes slideDown {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-8rem);
    }

    1% {
        opacity: 1;
        visibility: visible;
        transform: translateY(-8rem);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    99% {
        opacity: 1;
        visibility: visible;
        transform: translateY(-16rem);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-16rem);
    }
}

