.card_choices.subsection {
    padding-bottom: 2rem;
}

.choices.container {
    margin: 4rem 5rem 2rem 5rem;
}

.choice_buttons_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
    row-gap: 2rem;
    column-gap: 3rem;
}

.button.choices {
    border-radius: 2rem;
    padding: 1.5rem;
}

.button.choices.correct_ans:hover,
.button.choices.correct_ans:active,
.button.choices.correct_ans:focus,
.button.choices.correct_ans {
    background: var(--main-green);
    color: white;
}

.button.choices.wrong_ans:hover,
.button.choices.wrong_ans:active,
.button.choices.wrong_ans:focus,
.button.choices.wrong_ans {
    background: var(--main-red2);
    color: white;
    cursor: unset;
}

@media (max-width: 770px) {
    .choice_buttons_container {
        grid-template-columns: repeat(auto-fit, minmax(13rem, auto));
    }
    .choices.container {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (max-width: 683px) {
    .choice_buttons_container {
        grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 620px) {
    .button.choices {
        font-size: 1.2rem;
    }
    .choice_buttons_container {
        grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
    }
}

@media (max-width: 520px) {
    .button.choices {
        font-size: 1rem;
        padding: 1.3rem;
    }
    .choice_buttons_container {
        margin-left: auto;
        margin-right: auto;
        row-gap: 2.5rem;
    }
}

@media (max-width: 460px) {
    .choices.container {
        margin: 0 2.9rem;
    }
}
