.card_choices.subsection {
    padding-bottom: 2rem;
}

.choices.container {
    margin: 4rem 5rem 2rem 5rem;
}

.choice_buttons_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
    row-gap: 2rem;
    column-gap: 3rem;
}

.button.choices {
    border-radius: 2rem;
    padding: 1.5rem;
}

.button.choices.correct_ans:hover,
.button.choices.correct_ans:active,
.button.choices.correct_ans:focus,
.button.choices.correct_ans {
    background: var(--main-green);
    color: white;
}

.button.choices.wrong_ans:hover,
.button.choices.wrong_ans:active,
.button.choices.wrong_ans:focus,
.button.choices.wrong_ans {
    background: var(--main-red2);
    color: white;
    cursor: unset;
}
