.footer.outer_container {
    margin: 3rem 0 0 0;
    width: 100%;
    background: linear-gradient(92.35deg, rgba(242, 167, 26, 0.83) -46.22%, rgba(242, 187, 22, 0.84) 2.17%, rgba(254, 228, 7, 0.86) 98.92%);
    backdrop-filter: blur(6px);
}

.footer_content {
    padding: 1.2rem 0 1rem 0;
}

.copyright {
    color: var(--night-purple);
    text-align: center;
    font-size: 0.8rem;
}

