
.options_subsection .subheading {
    color: var(--text-purple-dark);
    font-weight: 500;
    margin-bottom: 1rem;
}

.options_container [type=radio] {
    transition: all ease-in-out 0.2s;
    visibility: hidden;
    width: 0;
    height: 0;
}

.subsection.options_subsection {
    background: white;
    padding-bottom: 3rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

.option_container {
    transition: all ease-in-out 0.2s;
    display: inline-block;
    width: 20rem;
}

.option_container .option:hover {
    background: var(--yellow-green);
}

.option_container .option:active {
    background: radial-gradient(circle, var(--yellow-green), var(--yellow));
}

.option_container .option {
    transition: all ease-in-out 0.2s;
    color: var(--text-purple-dark);
    background-color: var(--yellow);
}

[type=radio]:checked + .option {
    transition: all ease-in-out 0.2s;
    background: var(--main-green);
    color: white;
    box-shadow: 1px 1px 4px 3px rgba(10, 100, 30, 0.5);
}

@media (max-width: 380px) {
    .option_container {
        width: 18rem;
    }
}
