@import "utility_classes.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

:root {
    --night-purple: rgb(11, 5, 47);
    --light-purple: rgb(182, 180, 255);
    --white-blue: rgb(255, 250, 250);
    --bluish-white: rgb(250, 250, 255);
    --sub-heading-purple: rgb(53, 37, 110);
    --main-heading-purple: rgba(72, 5, 140, 1);
    --text-purple: rgb(66, 20, 100);
    --text-purple-dark: rgb(26, 5, 42);
    --button-purple: rgb(89, 65, 209);
    --button-purple-hover: rgb(97, 95, 245);
    --text-alternate: rgba(245, 117, 0, 1);

    --text-red: rgb(147, 5, 5);
    --main-red: rgb(182, 3, 37);
    --main-red2: rgb(185, 35, 2);

    --light-red: rgb(231, 41, 77);
    --yellow: rgba(255, 225, 0, 1);
    --yellow-green: rgb(165, 187, 52);
    --tooltip-orange: rgba(255, 226, 35, 0.93);
    --button-color-alt: rgba(254, 228, 7, 1);
    --button-color-alt-light: rgba(255, 248, 67, 1);
    --button-color-alt-white: rgb(255, 253, 249);
    --button-blue: rgb(29, 133, 229);
    --button-blue-hover: rgb(55, 158, 255);
    --button-blue-white: rgb(162, 210, 255);
    --blue_light: rgb(54, 138, 222);

    --yes-background: rgba(216, 226, 252, 0.53);
    --no-background: rgba(253, 226, 217, 0.66);
    --main-green: rgba(0, 157, 44, 1);
    --main-green-light: rgb(31, 200, 78);
    --main-green-white: rgb(177, 239, 194);
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    color: var(--text-purple);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("../static/images/background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ol, ul, ul li, ol li {
    list-style: none;
}

a, a:link, a:hover, a:visited {
    text-decoration: none;
}

input {
    padding: 0.6rem;
    background-color: var(--white-blue);
    border: rgb(215, 224, 230) solid 2px;
    border-radius: 0.3rem;
}

input:focus {
    transition: all 0.25s ease-in-out;
    border: rgb(45, 100, 180) solid 2px;
    outline: none;
}

h1, h2, h3, h4 {
    font-weight: unset;
    color: var(--text-purple);
}

.network_error_container {
    display: flex;
    max-width: 40rem;
    margin: 4rem auto;
    flex-direction: column;
    align-items: center;
}

.network_error_container .error_message {
    opacity: 1;
    position: unset;
    color: var(--text-purple);
    font-size: 1.5rem;
    line-height: 2rem;
}

.network_error_container .button {
    margin: 4rem auto 0 auto;
    border-radius: 2rem;
    box-shadow: 0 0 1px 1px rgba(50, 50, 50, 0.14);
}

.intelligeo_logo {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.intelligeo_logo .intelli {
    color: #500389;
    padding: 0 0.1rem 0.1rem 0.1rem;
}

.intelligeo_logo .geo {
    background-color: #DE6A01;
    color: white;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.app_content {
    min-height: 89vh;
}

.main {
    margin: 0 1rem;
}

.network_error_container {
    display: flex;
    max-width: 40rem;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px 2px rgba(50, 50, 50, 0.35);
    transition: all ease-in-out 0.2s 0.5s;
    transform: translateY(10rem);
}

.network_error_container .error_message {
    opacity: 1;
    position: unset;
    color: var(--text-purple);
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1px 1px rgba(50, 50, 50, 0.15);
}

.network_error_container .button {
    margin: 4rem auto 0 auto;
    border-radius: 2rem;
    box-shadow: 1px 1px 3px 2px rgba(50, 50, 50, 0.2);
}

.loading_screen_container {
    margin: 10rem auto;
    width: 35rem;
    padding: 6rem 2rem;
    text-align: center;
    background: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px 2px rgba(50, 50, 50, 0.15);
    font-size: 2rem;
}

.loading_screen_container span {
    display: inline-block;
    margin-bottom: 1rem;
}

.everything_except_footer {
    min-height: calc(100vh - 7rem);
}
