@import "common.css";

.heading h1 {
    text-align: center;
    color: var(--main-purple);
    font-family: "Montserrat", serif;
    font-size: 3rem;
    font-weight: 300;
    margin: 3rem auto 2rem auto;
    padding-left: 5rem;
}

.contact-form {
    max-width: 40rem;
    margin: 4rem auto 0 auto;
}

.form-inputs {
    max-width: 40rem;
    color: var(--main-purple);
    margin-left: auto;
    margin-right: auto;
}

.input-label-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    font-weight: 400;
}

.form-input label {
    min-width: 6.5rem;
    padding: 0.5rem 0.6rem;
    text-align: right;
}

.form-input input, .form-input textarea {
    width: 100%;
    font-size: 1.1rem;
    border: 2px solid var(--light-gray);
    border-radius: .3rem;
    padding: 0.5rem 0.6rem;
    transition: border 0.2s ease-in-out;
    resize: none;
}

.form-input input:focus, .form-input textarea:focus {
    border: 2px solid var(--main-purple-light);
    outline: none;
    transition: border 0.3s ease-in-out;
}

.message.input-label {
    padding-top: 0;
}

.form-meta-container {
    margin-left: 6.5rem;
}

#message-length {
    font-size: 0.9rem;
    color: var(--main-purple-medium);
}

.input-error-true {
    background-color: var(--error-background);
}

.form-submit {
    margin-top: 2.5rem;
    margin-left: 2rem;
    text-align: center;
}

.error_message {
    color: #cb1515;
}

.hide_me {
    display: none;
}

.show_me {
    display: block;
}

.footer-container.contact-us {
    margin-top: 32rem;
}

.footer-content-container.contact-us {
    display: flex;
    justify-content: center;
}

