@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap");

:root {
    --main-color1: #500389;
    --main-color2: #DE6A01;
    --font-size: 3rem;
    --font-weight: 500;
    --content-heading-color: #223443;
    --content-subheading-color: #111111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.main-container {
    margin-top: 5rem;
    justify-content: center;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.intellideep-logo {
    margin-bottom: 5rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.intellideep-logo .intelli {
    color: var(--main-color1);
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    border-right: none;
}

.intellideep-logo .deep {
    background-color: var(--main-color2);
    color: white;
    border: 0.1rem solid var(--main-color2);
    padding: 0.2rem 1rem 0.2rem 0.2rem;
    border-bottom-right-radius: var(--font-size);
    border-top-right-radius: var(--font-size);
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.hero-section {
    text-align: center;
}

.site-contents {
    margin-top: 3rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lexend Deca", sans-serif;
}

a, a:link, a:visited {
    text-decoration: none;
    color: var(--content-heading-color);
}

.main-heading {
    font-size: 4rem;
    font-weight: 300;
    color: var(--content-heading-color);
}

.main-subheading {
    margin-top: 0.5rem;
    color: var(--content-subheading-color)
}

.main-button {
    margin-top: 10rem;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 3px 3px rgba(62, 62, 62, 0.3);
    background-color: #ffbc44;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.main-button:hover {
    background-color: #fbd34f;
    box-shadow: 2px 2px 5px 5px rgba(62, 62, 62, 0.3);
    transition: background-color 0.25s ease-in, box-shadow 0.2s linear;
}

.main-button:active {
    background-image: radial-gradient(#f1dcba, #fbd34f);
    box-shadow: 1px 1px 2px 2px rgba(62, 62, 62, 0.3);
    transition: background-color 0s, box-shadow 0s;
}

.about-us-section {
    margin-top: 10rem;
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 2.2rem;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.content-heading {
    color: var(--content-heading-color);
}

.content-subheading {
    margin-top: 0.5rem;
}


@media only screen and (max-width: 900px) {
    .main-container {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .main-heading {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
        font-weight: 400;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .content-subheading {
        font-size: 0.9rem;
    }
    .about-us-section {
        max-width: 30rem;
    }
}

@media only screen and (max-width: 750px) {
    .main-button {
        margin-top: 2.5rem;
    }
}

@media only screen and (max-width: 550px) {
    .intellideep-logo {
        font-size: 2.2rem;
    }

    .main-button {
        padding: 1.5rem 3rem;
        border-radius: 1rem;
    }

    .main-heading {
        font-size: 2.4rem;
        font-weight: 300;
    }

    .content-subheading {
        font-size: 0.9rem;
    }

    .about-us-section {
        max-width: 24rem;
    }

    h2 {
        font-size: 1.8rem;
        font-weight: 400;
    }

    h3 {
        font-size: 1rem;
        font-weight: 600;
    }

    .site-contents {
        margin-top: 1rem;
    }
    .content-subheading {
        margin-top: 0.2rem;
    }
}

@media only screen and (max-width: 350px) {
    .intellideep-logo {
        font-size: 2rem;
    }

    .main-button {
        padding: 1rem 2rem;
        border-radius: 1rem;
    }

    .main-heading {
        font-size: 2rem;
        font-weight: 500;
    }

    .content-subheading {
        font-size: 0.9rem;
    }

    .about-us-section {
        margin-top: 6rem;
    }

    .site-contents {
        margin-top: 1.2rem;
    }
    .content-subheading {
        margin-top: 0.2rem;
    }
}