[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-restful = "*"
flask-jwt-extended = "*"
marshmallow = "*"
flask-marshmallow = "*"
flask-cors = "*"
gunicorn = "*"
pymongo = "*"
cairosvg = "*"
supervisor = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
