@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Kalam:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background: red;
    color: #333;
}

ul {
    list-style: none;
}

a {

    text-decoration: none;
}

.button {
    text-align: center;
}

img {
    width: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 6rem;
    top: 0px;
}

#navbar a {
    font-size: 1.4rem;
    color: #500389;
    margin: 0 .4rem;
}

#navbar a:hover {
    border-bottom: #500389 .2rem solid;
    padding-bottom: .8rem;
}

#navbar li {
    padding: 1rem 2rem;
}

#navbar ul {
    display: flex;
}

.hero .logo {
    font-weight: 500;
    margin-top: .6rem;
    margin-bottom: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    margin-left: 2.5rem;
}

.hero .logo .intelli {
    color: #500389;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
}

.hero .logo .geo {
    background-color: #239C2F;
    color: #fff;
    border: 0.2rem solid #239C2F;
    padding: 1.4rem .6rem;
    border-radius: 100rem;
}

/* Header */
.hero {
    background: #fff;
    height: 100vh;
    position: relative;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding-top: 17rem;
}

.hero .content h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    /* line-height: 5rem; */
    /* identical to box height, or 94% */

    text-align: center;

    color: #500389;
    /* padding-bottom: 23px; */
}

.hero .content p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    /* line-height: 3rem; */
    /* or 196% */

    text-align: center;

    color: rgba(87, 7, 163, 0.71);
    /* max-width: 37.5rem; */
    margin: 1.8rem 0 2.8rem;
}

.hero .content .button a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    /* line-height: 33px; */
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.hero .content .img {

    width: 105%;
}

.hero * {
    z-index: 100;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    padding-bottom: 15px;

}

.footer {
    background: #500389;
    color: #fff;
    width: 100%;
    height: auto;
    padding-top: 1rem;

}

.footer a {
    color: #fff;
}

.footer .logo {
    font-weight: 500;
    margin-top: 2.4rem;
    margin-bottom: 0;
    /* text-align: center; */
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
}

.footer .logo .intelli {
    color: #fff;
    padding: 0.2rem 0.2rem 0.2rem 0rem;
}

.footer .logo .geo {
    background-color: #239C2F;
    color: #fff;
    border: 0.2rem solid #239C2F;
    padding: 1.4rem .6rem;
    border-radius: 100rem;
}

.footer .copyright {
    margin-top: 2.5rem;
    font-size: 1rem;
}

.social {
    display: flex;

    /* text-align: center; */
    align-items: center;
    padding-bottom: .8rem;
    margin-right: 9rem;
}

.social a {
    margin-left: 1.5rem;
}

.social a:hover {
    color: #239C2F;
}

.footer ul {
    display: flex;

    flex-direction: column;
    row-gap: .7rem;
    margin-top: 1.5rem;
}

@media (max-width: 1440px) {
    .hero {
        /*background: red;*/
    }
}
