.card_container.card_content {
    position: relative;
    color: var(--text-blue);
    width: 30rem;
    min-height: 44rem;
}

.card_container.card_content:hover .hover_text {
    opacity: 1;
}

.card_content.heading {
    font-size: 2.5rem;
}

.card_subheading {
    margin-bottom: 0.5rem;
    font-weight: normal;
    font-size: 1.6rem;
}

.card_content.subsection ol li {
    margin-left: 1.5rem;
    line-height: 1.4rem;
}

.card_content.subsection ul li {
    list-style: disc;
    margin-left: 1.5rem;
    line-height: 1.4rem;
}

.card_content .hover_text {
    opacity: 0;
    right: 1rem;
    top: 1rem;
}

.card_content.subsection img {
    width: 100%;
}

@media (max-width: 2245px) {
    .card_container.card_content {
        width: 38rem;
    }
}

@media (max-width: 2089px) {
    .card_container.card_content {
        width: 30rem;
    }
}

@media (max-width: 1702px) {
    .card_container.card_content {
        width: 40rem;
    }
}

@media (max-width: 1602px) {
    .card_container.card_content {
        width: 30rem;
    }
}

@media (max-width: 1158px) {
    .card_container.card_content {
        width: 40rem;
    }
}

@media (max-width: 750px) {
    .card_container.card_content {
        width: 30rem;
    }
}

@media (max-width: 600px) {
    .card_container.card_content {
        width: 90vw;
    }
}

