:root {
    --main-blue: rgb(40, 95, 172);
    --night-blue: rgb(14, 40, 76);
    --medium-blue: rgb(65, 127, 209);
    --light-blue: rgb(128, 194, 249);
    --white-blue: rgb(209, 229, 247);

    --main-red: rgb(182, 3, 37);
    --light-red: rgb(231, 41, 77);
}

* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html {
    min-height: 100vh;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(circle, rgb(249, 252, 255), var(--white-blue));
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul, ol {
    list-style: none;
}

a, a:link, a:hover, a:visited {
    text-decoration: none;
}

.button {
    font-size: 1.3rem;
    padding: 1rem;
    color: #f0f0f0;
    background-color: var(--main-blue);
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 0.2rem;
}

.button:focus, .button:hover {
    transition: all 0.25s ease-in-out;
    color: white;
    background-color: var(--medium-blue);
    cursor: pointer;
}

.button:active {
    background: radial-gradient(circle, var(--light-blue), var(--medium-blue));
}

.button:disabled, .button:disabled:hover, .button:disabled:active, .button:disabled:active {
    background: rgba(40, 95, 172, 0.72);
    cursor: unset;
}

.error_message {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -0.8rem;
    opacity: 0;
    color: black;
    font-size: 1rem;
    background-color: orange;
    padding: 0.2rem 0.4rem;
    margin-top: 0;
    border-radius: 0.1rem;
    transition: all 0.2s ease-in-out;
}

.error_message.generic_error {
    position: static;
    margin-top: 1rem;
    padding: 0.4rem;
    text-align: center;
}

.error_visible {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.error_highlight {
    background: rgba(224, 7, 7, 0.13);
}