.card_container.card_content {
    position: relative;
    color: var(--text-blue);
    max-width: 34rem;
}

.card_container.card_content:hover .hover_text {
    opacity: 1;
}
.card_content.heading {
    font-size: 2.5rem;
}

.card_subheading {
    margin-bottom: 0.5rem;
    font-weight: normal;
    font-size: 1.6rem;
}

.card_content.subsection ol li {
    margin-left: 1.5rem;
    line-height: 1.4rem;
}

.card_content.subsection ul li {
    list-style: disc;
    margin-left: 1.5rem;
    line-height: 1.4rem;
}

.card_content .hover_text {
    opacity: 0;
    right: 1rem;
    top: 1rem;
}
