.edit_card.outer_container {
    max-width: 50rem;
    margin: 5rem auto;
    position: relative;
}

.edit_card.card_container {
    margin-top: 3.5rem;
    padding: 2rem 5rem 3rem 3rem;
}

.edit_card.heading {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.card_container.edit_card {
    border-top-left-radius: 0;
}
.edit_card.subsection {
    margin-top: 3rem;
}

.edit_card.subheading ~ ul {
    margin-top: 1rem;
}

.edit_card.sub_subheading {
    font-size: 1.1rem;
    display: inline-block;
    color: var(--text-blue);
    margin-right: 0.4rem;
    margin-bottom: 1rem;
    width: 5rem;
    text-align: right;
}

.edit_card.sub_subheading ~ input {
    display: inline-block;
    width: 73%;
}

.sub_subheading_container {
    margin-top: 0;
}

.edit_card.subsection.button_container {
    text-align: center;
    position: relative;
}

.edit_card.button {
    color: white;
    width: 50%;
    border-radius: 2rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.edit_card li {
    margin-bottom: 0.1rem;
}

.input_field_container {
    display: flex;
}

.input_field_container .button {
    display: inline-block;
    padding: 0 0 0.1rem 0;
    font-size: 2rem;
    border-radius: 50%;
    text-align: center;
    margin-left: 0.4rem;
    margin-top: 0.8rem;
    align-self: center;
    font-weight: bold;
    line-height: 1.7rem;
    width: 1.9rem;
}

.edit_card.delete_field.button {
    padding-bottom: 0.2rem;
}

.input_field_container input {
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 0.5rem;
}

.slider_container {
    position: relative;
    display: inline-block;
    width: 4.5rem;
    height: 2.1rem;
    align-self: center;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
}

.slider_container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.2s;
    border-radius: 2rem;
    background-color: var(--main-purple);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.toggle_slider:hover, .toggle_slider:active {
    background-color: var(--light-purple);
}

.toggle_slider span {
    color: white;
    position: absolute;
    top: 0.4rem;
    left: 0.7rem;
    font-weight: bold;
}

.toggle_slider .no {
    left: 2.2rem
}

.toggle_slider:before {
    position: absolute;
    content: "";
    height: 1.7rem;
    width: 1.6rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: white;
    transition: .2s;
    border-radius: 50%;
}

input:checked + .toggle_slider {
    background-color: var(--button-blue);
}

input:checked + .toggle_slider:hover {
    background-color: var(--button-blue-hover);
}

input:checked + .toggle_slider:before {
    transform: translateX(2.5rem);
}

.edit_card.subsection ol li {
    margin-left: 5.2rem;
    line-height: 1.4rem;
}

.name h3 {
    display: inline-block;
}

.name input {
    margin-left: 0.7rem;
    width: 74%;
}

.edit_card .error_message {
    bottom: unset;
    left: 13.2rem;
    top: -2.2rem;
}

.back_arrow.outer_container {
    position: absolute;
    padding: 0.7rem;
    padding-bottom: 0.3rem;
    border-radius: 0.4rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -0.9rem;
    top: -0.02rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.back_arrow svg {
    width: 1.4rem;
    height: 1.4rem;
}

.back_arrow path {
    fill: white;
}
