.login_page.outer_container {
    text-align: center;
    margin-top: 15vh;
}

.login_page.outer_container h1 {
    font-size: 3rem;
}

.login_page.card_container {
    background: rgba(0, 0, 0, 0);
    margin: 8vh auto auto auto;
    padding: 2rem 3rem 1rem 3rem;
    max-width: 27rem;
    background-color: rgb(255, 255, 255);
}

.login_page.subheading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.login_page input {
    font-size: 1.2rem;
    margin-top: 1rem;
    width: 100%;
}

.button.login {
    margin-top: 2.5rem;
    margin-bottom: 0;
    width: 100%;
    border-radius: 2.5rem;
}

.login_page.input_container {
    position: relative;
}

.button:hover {
    transition: all 0.25s ease-in-out;
    color: white;
}
