.edit_card.update.button_container {
    text-align: center;
}

.update .edit_card.button.submit {
    width: 35%;
}

.button.undo.edit_card, .button.edit_card.delete {
    width: unset;
    padding: 0.6rem 0.8rem;
    background-color: orange;
    font-size: 1rem;
    max-width: 10rem;
    margin-right: 1.5rem;
    color: var(--text-blue);
}

.button.edit_card.delete {
    background-color: var(--main-red);
    color: var(--white-blue);
    margin-left: 1.5rem;
}

.button.edit_card.delete:hover {
    background-color: var(--light-red);
    color: white;
}

.button.undo.edit_card:hover {
    background-color: rgba(255, 165, 0, 0.77);
    color: var(--text-blue);
}

.button.undo.edit_card:active {
    background: radial-gradient(circle, rgba(255, 200, 175, 1), rgba(255, 165, 0, 0.86));
}
