.button {
    font-size: 1.3rem;
    padding: 1rem;
    color: #f0f0f0;
    background-color: var(--button-blue);
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 0.2rem;
}

.button:hover {
    transition: all 0.25s ease-in-out;
    color: white;
    background-color: var(--button-blue-hover);
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button:active {
    background: radial-gradient(circle, var(--light-blue), var(--button-blue-hover));
}

.button:disabled, .button:disabled:hover, .button:disabled:active, .button:disabled:active {
    background: rgba(83, 100, 125, 0.72);
    cursor: unset;
}

.card_container {
    background-color: white;
    box-shadow: 0 0 1px 1px rgba(50, 50, 50, 0.1);
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.5rem;
}

.heading {
    color: var(--main-heading-blue);
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}

.subheading {
    color: var(--sub-heading-blue);
    font-weight: normal;
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
}

.subsection {
    margin-top: 1.2rem;
}

.tooltip_container {
    position: relative;
}

.tooltip_container {
    height: 0;
    width: 0;
}

[tooltip]:after {
    cursor: default;
    position: absolute;
    left: 2.7rem;
    top: 0;
    content: attr(tooltip);
    opacity: 0;
    color: var(--text-blue);
    background-color: var(--tooltip-orange);
    font-size: 1rem;
    font-weight: normal;
    padding: 0.25rem;
    line-height: 1rem;
    border: 1px dashed var(--night-blue);
    transition: all ease-in-out 0.2s;
    transition-delay: 0.2s;
    backdrop-filter: blur(2px);
}

[tooltip]:hover:after {
    cursor: default;
    opacity: 1;
}

.error_message {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -0.8rem;
    opacity: 0;
    color: black;
    font-size: 1rem;
    background-color: #ffe100;
    padding: 0.2rem 0.4rem;
    margin-top: 0;
    border-radius: 0.1rem;
    transition: all 0.2s ease-in-out;
}

.error_message.generic_error {
    position: static;
    margin-top: 1rem;
    padding: 0.4rem;
    text-align: center;
}

.error_visible {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.error_hidden {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.error_highlight {
    background: rgba(224, 7, 7, 0.13);
}

.hover_text {
    background-color: var(--button-blue);
    color: white;
    /*opacity: 0;*/
    position: absolute;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.hover_text:hover {
    background-color: var(--button-blue-hover);
    opacity: 1;
}